/clubs_range/*
/chess/old_files/*
/chess/*.txt
_example_file.html
/images/reserve/*
/images/advertising/*
/images/problems/*
/images/chess/stock/*
/old-files/*
/plans_to_do/*
.vscode
service*.js
php
*.ini
wildstat
/service/*
/database/*
/chess_engine/description