
header.cap{
  margin-top: 8px;
}

/* Для верхней строки шапки: */
div.cap__site-title{
  background-color: chocolate;
  color: #f5deb3;
}

/* Для иконок с футбольным мячом: */
.cap__site-title__icon{
  width: 20px;
  margin-top: 6px;
  margin-left: 16px;
  margin-right: 16px;
}
.cap__site-title__icon_left{
  float: left;
}
.cap__site-title__icon_right{
  float: right;
}

div.cap__site-title__text{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}
