body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #4f535b;
  background-color: rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  padding-top: 0.5em;
  margin: 0;
}
/* header{
  margin-left: 20px;
} */

section.site-title{
  background-color: chocolate;
  /* margin-left: -20px; */
  padding: 0.3em 0 0.5em 0.5em;
  color: #f5deb3;
}

.the-very-top{
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 4em;
  margin-top: 10px;
  font-size: 1em;
}

/* Для иконки в крайнем левом углу (раньше она была пиратским флагом): */
.pirate{
  float: left;
  width: 20px;
  margin-top: 0.6em;
  margin-left: 1em;
  margin-right: 15px;
}

nav{
  /* margin-left: 20px; */
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: wheat;
}

section.nav-section{
  padding-left: 1.5em;
  /* padding-top: -1em;   */  /* Отрицательный паддинг работать не хочет */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

section.football, section.chess{
  background-color: rgb(182, 50, 3);
}

section.history{
  background-color: chocolate;
}

nav div.href-list-title{
  display: inline-block;
  width: 5em;
}

nav ul{
  list-style: none;
  /* padding: 0px; */
  /* margin-bottom: 0.5em; */
  display: inline-block;
  /* padding-top: -3em; */
  /* padding-inline-start: 0; (по умолчанию он 40px)*/
  line-height: 0.1em; 
  /* Всё бы хорошо (строки сжимаются как надо), да при увелиличении масштаба,
  при расширении списка на две строки, строки слипаются*/
}

nav li{
  display: inline-block;
  margin-right: 40px;
  font-weight: bold;
  font-size: 0.8em;
  /* padding-top: -1em; */
  /* margin-bottom: 1em;   */
  /* margin-top: 0.5em; */
}

nav li a, a:-webkit-any-link{
  color: wheat;
}

a{
  cursor: pointer;
  text-decoration: none;
}
nav a:hover{
  color: black;
}

nav a:active{
  color: beige;
}

span.figures-in-history-hrefs{
  font-size: 1.3em;
}

em{
  font-style: italic;
  font-weight: bold;
}  

strong{
  font-weight: bold;
  line-height: 1.1em;
  font-size: 1.5em;
}

p{
  font-size: 1.25em;
  margin: 0.25em auto;
}

a{
  color: #4f535b;
}

main{
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 -40px;
  padding: 1px 40px;
  padding-bottom: 20px;
  /* width: 100%; */
  /* min-width: 1500px; */
}

h1{
    text-transform: uppercase;
}

h1, .content-headers p{
  text-align: left;
  margin-left: 20px;
}

span.stars{
  font-size: 16px;
  vertical-align: top;
}

p.explanation{
  font-size: 16px;
  margin-top: -15px;
  text-align: left;
  margin-left: 20px;
}

p.update-announcement{
  margin-top: 20px;
}

/* ТАБЛИЦА: */

table.main-table{
  margin-top: 20px;
  margin-left: 20px;
  /* border-spacing: 10px; */
  border-collapse: collapse;
  font-weight: bold;
  /* width: 1500px; 
  Отменил ширину, т.к., во-первых, из-за неё фон тёмно-серый вставал криво
  (иногда (на тлф, например) не шёл до конца направо),
  а, во-вторых, вообще не помню, зачем я это ограничение в 1500 пикселей ставил.
  
  P.S. Хотя я не вполне уверен, что проблема с фоном связана именно с этим размером*/
}

.main-table td{
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  text-align: center;
  max-width: 150px;
  padding: 13px;
  border-right: 2px solid gray;
}

.main-table tr.photos td{
  position: relative;
}

tr.photos span.number{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-style: italic; 
}

.main-table td.number{
  font-style: italic;  
}

img.player-photo-table{
  height: 60px;
  margin: 5px;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.1em 2px rgb(83, 83, 83);
}

div.player-last-name{
  /* margin: 15px; */
  text-transform: uppercase;
}

table td div.rating{
  font-style: italic;
  font-size: 0.9em;
}

.main-table tr:nth-child(odd){
  background-color:rgba(0, 0, 0, 0.1);
  /* Пытался сделать полукрасные строки 
  background-color: black;
  opacity: 0.1; */
}

.main-table tr:nth-child(even){
  background-color: aliceblue;
  /* Пытался сделать полукрасные строки
  opacity: 0.5; */
}

td.has-history{
  cursor: pointer;
}

p.games-score{
  white-space: nowrap;
  /* Чтобы строчка с победами-ничьями-поражениями
не разрывалась на две (при уменьшении масштаба)*/
}

span.victories, span.defeats{
  font-size: 1.3em;
  white-space: nowrap;
}

span.draws{
    position: relative;
    bottom: 0.1em;
}

td p.whites-blacks-quantity{
  font-weight: normal;
  font-style: italic;
}

span.white-games{
  float: left;
  margin-left: 0.3em;
}

span.black-games{
  float: right;
  margin-right: 0.1em;
}

/* ПОСЛЕ ТАБЛИЦЫ */

section.donate{
  margin-left: 20px;
}

footer{
  margin-top: 20px;
  background-color: rgb(182, 50, 3);
  padding: 10px;
  padding-left: 15px;
  color: #f5deb3;
}
