
/* Про кнопку СПРАВА: */

div.btn-right{
  display: flex;
  vertical-align: top;
  position: relative; /* Это чтобы позиционировать абзац со словом "ДУЭЛИ" внутри кнопки */
  margin-left: 20px;
}

div.btn-right button{
    height: 520px; 
    width: 100px;
    border-radius: 10px;
}

div.btn-right button span{
    margin: 10px 20px;
    font-size: 2.2em;
    transform: rotate(90deg);
    font-style: normal;
    letter-spacing: 0.3em;
    /* Чтобы позиционировать абзац со словом "ДУЭЛИ" внутри кнопки: */
    position: absolute;
    left: -1.5em;
    top: 8.5em;
}

div.btn-right button span.duels{
    left: -2.3em;
}

p.btn-right__duels-explanation{
    margin-left: 2em;
    margin-top: 0;    
    width: 150px;
    font-size: 0.7em;
    white-space: normal;
    text-align: justify;
}

#history25 p.btn-right__duels-explanation {
    width: 100px;
}