
.football__body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: black;
  background: linear-gradient(to top left, #aaabac, #e0ddc7);
  margin: 0;
}

a, button{
  cursor: pointer;
}

button:hover,
button:active,
button:focus{
  background-color: lightgray;
  outline: none;
}

/* Цвета ссылок. Чтобы не плыли в Firefox: */
a:link, a:visited{
  color: inherit;
}

.football__background{
  background-image: url(.././images/football_ball_translucent.png), url(.././images/football_ball_translucent.png);
  background-size: 40%, 15%;
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}
