body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #4f535b;
  background-color: rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  padding-top: 0.5em;
  margin: 0;
}

/* header{
  margin-left: 20px;
} */

section.site-title{
  background-color: chocolate;
  /* margin-left: -20px; */
  padding: 0.3em 0 0.5em 0.5em;
  color: #f5deb3;
}

.the-very-top{
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 4em;
  margin-top: 10px;
  font-size: 1em;
}

/* Для иконки в крайнем левом углу (раньше она была пиратским флагом): */
.pirate{
  float: left;
  width: 20px;
  margin-top: 10px;
  margin-left: 1em;
  margin-right: 15px;
}

nav{
  /* margin-left: 20px; */
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: wheat;
}

section.nav-section{
  padding-left: 1.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  height: 36px;
  width: 1900px;
}

section.football, section.chess{
  background-color: rgb(182, 50, 3);
}

section.history{
  background-color: chocolate;
}

nav div.href-list-title{
  display: inline-block;
  width: 5em;
}

nav ul{
  list-style: none;
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 10px;
}

nav li{
  display: inline-block;
  margin-right: 50px;
  font-weight: bold;
  font-size: 0.9em;
}

nav li a, a:-webkit-any-link{
  color: wheat;
}

a{
  cursor: pointer;
  text-decoration: none;
}

nav a:hover{
  color: black;
}

nav a:active{
  color: beige;
}

span.figures-in-history-hrefs{
  font-size: 1.3em;
}

em{
  font-style: italic;
  font-weight: bold;
}  

strong{
  font-weight: bold;
  line-height: 1.1em;
  font-size: 1.5em;
}

p{
  font-size: 1.25em;
  margin: 0.25em auto;
}

/* a{
  color: #4f535b;
} */

main{
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 -40px;
  padding: 1px 40px;
  padding-bottom: 20px;
  width: max-content;
}

h3{
  font-size: 1.5em;
}

h1, h2, h3, .headers p{
  text-align: left;
  margin-left: 20px;
}

h1{
  font-size: 2em;
}

h1, h2{
  background-color: whitesmoke;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.6em;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

p.explanation{
  font-size: 16px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

section.table-plus-right-buttons{
  white-space: nowrap;
  margin-right: 200px;
}

/* ТАБЛИЦА: */

table.main-table{
  margin-top: 20px;
  margin-left: 20px;
  /* margin-bottom: 20px; */
  border-collapse: collapse;
  font-weight: bold;
  font-size: 0.45em;
  display: inline-block;
  /* float: left; */
}

.main-table td{
  text-align: center;
  max-width: 10em;
  padding: 0.6em;
  border-right: 0.22em solid gray;
}

.main-table tr.logotypes td{
  position: relative;
}

tr.logotypes span.number{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-style: italic; 
}

.main-table td.number{
  font-style: italic;  
}

img.football-logo-table{
  height: 20px;
  margin: 0.05em;
}

/* Для эмблем, вытянутых в высоту (Реал, Тоттенхэм, Порто, Милан, Интер): */
img.real{
  height: 23px;
}

/* Лого Гамбурга вытянуто в ширину, посему его настаиваем специально: */
img.hamburg{
  width: 24px;
  height: auto;
  position: relative;
  top: 0.2em;
}

/* Ноттингемскому лого нужна подложка.
Иначе бледно-красное на сером не смотрится: */
img.nottingham{
  border: 0.1em solid rgb(230, 230, 230); 
  background-color: rgb(230, 230, 230);
  border-radius: 0.3em;
}

div.club-name{
  margin: 0.25em;
  white-space: normal;
  font-size: 1.3em;
}

/* Для слишком длинных названий клубов (типа "Вулверхэмптон"),
к-рые в связи со своей длиной не встают в центр ячейки: */
span.long-club-title{
  font-size: 0.8em;
}

.main-table tr:nth-child(odd){
  background-color:rgba(0, 0, 0, 0.1);
  /* Пытался сделать полукрасные строки 
  background-color: black;
  opacity: 0.1; */
}

.main-table tr:nth-child(even){
  background-color: aliceblue;
  /* Пытался сделать полукрасные строки
  opacity: 0.5; */
}

td.has-history{
  cursor: pointer;
}

td p.goals-difference{
  font-weight: normal;
  font-style: italic;
}

td div.duels{
  font-size: 2.1em;
  /* white-space: nowrap; */
  margin: 0.35em 0.24em;
}



button{
  cursor: pointer;
}

button.results-duels-switch:hover,
button.results-duels-switch:active,
button.results-duels-switch:focus{
  background-color: lightgray;
  outline: none;
}


/* Про кнопки СПРАВА: */

section.button-right{
  display: inline-block;
  vertical-align: top;
}

section.button-right button.results-duels-switch,
section.button-right button.short-history-button{
    height: 600px; 
    width: 100px;
    border-radius: 10px;
    /* padding: 10px 20px; */
}

section.button-right button.results-duels-switch p,
section.button-right button.short-history-button p{
    font-size: 2.2em;
    transform: rotate(90deg);
    font-style: normal;
    letter-spacing: 0.3em;
}

section.button-right button.results-duels-switch p{
  margin-bottom: 5em;
}

div.vertical-delimiter{
  display: inline-block;
  vertical-align: top;
  width: 0.1em;
  height: 57.5em;
  background-color: gray;
  margin-top: 20px;
  margin-left: 20px;
}

section.button-right button.short-history-button p{
  margin-bottom: 3em;
}

section.button-right p.duels-explanation,
section.button-right p.explanation{
    margin-top: 1.5em;
    width: 100px;
    font-size: 0.7em;
    white-space: normal;
}

section.short-history-button{
  margin-top: 20px;
  margin-left: 20px;
}



/* Про кнопки СНИЗУ: */


section.duel-button{
  margin-left: 20px;
  margin-top: 20px; 
}

section.button-normal button{
  height: 100px; 
  width: 1000px;
  font-size: 1.6em;
  border-radius: 10px;
  /* padding: 10px 20px; */
}

button.results-duels-switch p{
  margin: 10px 20px;
  font-style: italic;
}

section.button-normal button.short-history-button p{
  font-style: italic;
}

main hr{
    margin-left: 20px; 
}


/* Экспериментируем с flex (февраль 2020): */
/* section.breadcrumbs-buttons{
  display: flex;
  justify-content: space-between;
} */

section.breadcrumbs-buttons{
  display: none;
}

div.breadcrumbs-row-1, div.breadcrumbs-row-2{
  display: flex;
  justify-content: space-between;
  vertical-align: top;
}

/* Кнопки переключения на ДРУГИЕ таблицы: */
section.switch-to-favorites, section.switch-to-history, section.switch-to-decade,
section.switch-to-euroleague, section.switch-to-winners, section.switch-to-russian{
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}

button.switch-to-favorites-button, button.switch-to-history-button, 
button.switch-to-decade-button, button.switch-to-euroleague-button,
button.switch-to-winners-button, button.switch-to-russian-button{
  padding: 10px 20px;
  border-radius: 10px;
  width: 32em;
  height: 7em;
}



section.donate{
  margin-left: 20px;
}

footer{
  margin-top: 20px;
  background-color: rgb(182, 50, 3);
  padding: 10px;
  padding-left: 15px;
  color: #f5deb3;
}
