
.settings{
  margin-top: 30px;  
  display: grid;
  grid-template-areas: 
  "first-row" "second-row" "third-row";
}

.settings__row{
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  min-height: 40px;
}

.duels__row{
  grid-area: first-row;
}

.coloring-row{
  grid-area: second-row;  
}

.random-buttons-row{
  grid-area: third-row;  
}

.random-buttons__div, .coloring-buttons__div{
  margin: 0 15px 0 15px;
  width: 400px;
}

.settings button{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

span.show-random__text, span.coloring-onload__text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.settings__row label{
  position: relative;
  top: 8px;
}

#random-onload__input, #duels-row__input, #coloring-onload__input{
  position: absolute;
  top: 2px;
}

span.random-onload__text, span.duels-row__text, span.coloring-onload__text{
  font-size: 12px;
  display: inline-block;
  margin-left: 25px;
}
