body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

p{
  font-size: 1.25em;
  margin: 0.25em auto;
}

div.additional-table{
  text-align: center;
  max-width: 550px;
  /* 550 пикселей нужно, чтобы матчи "Бавария"-"Реал" 
  не громоздились в две строки */
  position: absolute;
  /* Интересно, если дефолтное (т.е. "static") значение, то весь div расползается на 500px */

  background-color: gray;
  color: black;
  /* border: 2px solid gray; */
  border-radius: 15px;
  padding: 5px;
}
/* 
div.additional-table img{
  position:absolute;
} */

div.additional-table img.logo-left{
  float: left;
}

div.additional-table img.logo-right{
  float: right;
}

img.football-logo-table{
  height: 40px;
  max-width: 60px;  /* Иначе лого Лейпцига становится слишком широким - оно вытянуто в ширину */
  margin: 5px;
}

/* Для эмблем, вытянутых в высоту (Реал, Тоттенхэм, Порто, Милан, Интер): */
img.real{
  height: 45px;
  /* top: 2px; */
}

/* Для эмблемы Байера(вытянутой в ширину): */
img.bayer.football-logo-table{
  max-width: 45px;
  /* высота "auto" нужна, чтоб картинка не сжималась, сохраняла пропорцию */
  height: auto;
  /* top: 8px; */
}

/* Для эмблемы Зенита(вытянутой в ширину): */
img.zenit.football-logo-table{
  width: 37px;
  /* высота "auto" нужна, чтоб картинка не сжималась, сохраняла пропорцию */
  height: auto;
  /* top: 9px; */
}

/* Ноттингемскому(и марсельскому) лого нужна подложка.
Иначе бледно-красное(и голубое) на сером не смотрится: */
img.nottingham{
  border: 0.2em solid white; 
  background-color: white;
  border-radius: 0.3em;
}

/* Лого Гамбурга вытянуто в ширину, посему его настаиваем специально: */
img.hamburg{
  width: 42px;
  /* Если не сделать height:auto, то height будет считываться с img, 
  будет равен 40px, пропорции нарушатся */
  height: auto;
  /* top: 10px; */
}

/* Хотел сделать белый фон под заголовком пары: */
/* section.pair-title{
  background-color: rgb(236, 234, 234);
  padding: 20px 0;
  border-radius: 12px;
} */

div.additional-table h1{
    /*Без max-width иногда неоправданно растягивается
    (см. "Боруссия" М - "Лион"): */
    max-width: 300px;
    /* Без выравнивания маргинами вторая (и зачастую появляющаяся третья) строка смещается влево,
    т.к. "не видит" левого логотипа: */
    margin: 20px auto;
    font-size: 1.17em;
}

p{
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.duels-score{
  font-size: 1.1em;
  font-weight: bold;
}

table.add-table{
  /* Маргины правый и левый со значением "авто" нужны 
  для центрирования таблицы */
  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
  border-collapse: collapse;
  /* z-index: -1; */
}

/* Уменьшаем шрифт для надписей "№" и "Поле": */
table.add-table tr:first-child td:first-child,
table.add-table tr:first-child td:nth-child(2){
  font-size: 0.8em;
}

table.add-table td{
  padding: 7px;
}

table.add-table tr:nth-child(even){
  background-color: aliceblue;
}

/* Наклоняем шрифт в первой колонке (с номерами матчей): */
table.add-table td.number-of-match,
table.add-table tr:first-child td:first-child{
  font-style: italic;
}

table.add-table tr.final{
  font-weight: bold;
}

table.add-table td span.penalty-text,
span.add-time-text,
span.lottery-text,
span.add-match-text{
  font-size: 12px;
  white-space: normal;
}

/* .add-table .additional-table{
  max-width: 500px;
} */

div.duels-text{
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0.7em;
}

tr.duel-result{
  line-height: 0.1em;
}

/* Для фона матчей: */
div.additional-table tr.duel-loose td{
  background-color: rgba(255, 0, 0, 0.1);
}

div.additional-table tr.duel-win td{
  background-color: rgba(0, 255, 0, 0.1);
}

div.additional-table tr.duel-draw td{
  background-color: rgba(255, 255, 0, 0.1);
}

/* Для ФОНА строк с ИТОГОМ дуэли: */
div.additional-table tr.duel-result.duel-loose td{
  background-color: rgba(255, 0, 0, 0.4);
  color: rgba(184, 12, 12, 0.699);
}

div.additional-table tr.duel-result.duel-win td{
  background-color: rgba(0, 255, 0, 0.25);
  color: green;
}

div.additional-table tr.duel-result.duel-draw td{
  background-color: rgba(255, 255, 0, 0.25);
  color: rgba(228, 188, 13, 0.836);
  font-size: 1.5em;
  position: relative;
}

span.yellow-circle{
  position: relative;
  top: -2px;
}

/* Для СКРУГЛЕНИЯ рамки таблицы: */
table.add-table tr:nth-child(2) td:first-child{
  border-top-left-radius: 12px;
}

table.add-table tr:nth-child(2) td:last-child{
  border-top-right-radius: 12px;
}

table.add-table tr:last-child td:first-child{
  border-bottom-left-radius: 12px;
}

table.add-table tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

/* Чтобы счёт был жирным: */
table.add-table tr td:nth-child(3){
  font-weight: bold;
  white-space: nowrap;
}

/* Чтобы слово "Счёт" не было жирным: */
table.add-table tr:nth-child(1) td{
  font-weight: normal;
}

table.add-table tr td:nth-child(2){
  padding-right: 0px;
  padding-left: 0px;
}
/* Это даёт нулевые паддинги справа-слева у слова "Поле" */

a{
  font-size: 0.6em;
  color: black;
}