
/* ТАБЛИЦА: */

.tables{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;      
}

table.main-table{
  border-collapse: collapse;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 2px 2px 1px rgb(22, 19, 19);
}

.main-table tr:nth-child(odd){
  background-color:rgba(0, 0, 0, 0.1);
}
.main-table tr:nth-child(even){
  background-color: aliceblue;
}

.main-table tr:nth-child(odd) td.main-table_gap{
  background: rgba(255, 255, 255, 0.3);
}
.main-table tr:nth-child(even) td.main-table_gap{
  background: rgba(0, 0, 0, 0.16);
}

.main-table td{
  text-align: center;
  max-width: 82px;
  padding: 0.3em;
  border-right: 1.6px solid gray;
  height: 23px;
  box-sizing: border-box;
}

div.change-range-text{
  cursor: pointer;
}

table.main-table tr td:last-child{
  border-right: none;
}

.main-table td.number{
  font-style: italic;  
}

/* Иконки: */
td.main-table_victory img{
  height: 16px;
}

/* Логотипы: */
img.football-logo-table{
  height: 20px;
  margin: 0.05em;
}
/* Для эмблем, вытянутых в высоту (Реал, Тоттенхэм, Порто, Милан): */
img.real{
  height: 23px;
}
/* Лого Гамбурга вытянуто в ширину, посему его настаиваем специально: */
img.hamburg{
  width: 24px;
  height: auto;
  position: relative;
  top: 0.2em;
}
/* Ноттингемскому лого нужна подложка.
Иначе бледно-красное на сером не смотрится: */
img.nottingham{
  border: 0.1em solid rgb(230, 230, 230); 
  background-color: rgb(230, 230, 230);
  border-radius: 0.3em;
}

.main-table div.club-name{
  margin: 0.25em;
  white-space: normal;
  font-size: 0.8em;
  width: 68px;
}

/* Для слишком длинных названий клубов (типа "Вулверхэмптон"),
к-рые в связи со своей длиной не встают в центр ячейки: */
.main-table span.long-club-title{
  font-size: 0.8em;
}

tr.main-table__header td.main-table_playoff{
  font-size: 1.5em;  
}

tr.main-table__header td.playoff_semi,
tr.main-table__header td.playoff_quarter{
    font-size: 1em;  
}

/* Чтобы колонки с плей-офф не были слишком широкими: */
tr.main-table__header td.main-table_playoff{
    padding: 0.1em;
}

/* td.main-table_criterion{
  font-size: 1.4em;
} */

span.main-table_victory{
  font-size: 1.2em;
}

td.main-table_victory{
    width: 26px;
}
