
/* ТАБЛИЦА: */

.tables{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;      
}

table.main-table{
  border-collapse: collapse;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 2px 2px 1px rgb(22, 19, 19);
  border-top: oldlace solid 1px;
  border-left: oldlace solid 1px;
}

.main-table tr:nth-child(odd){
  background-color:rgba(0, 0, 0, 0.1);
}
.main-table tr:nth-child(even){
  background-color: aliceblue;
}

.main-table tr:nth-child(odd) td.main-table_gap{
  background: rgba(255, 255, 255, 0.3);
}
.main-table tr:nth-child(even) td.main-table_gap{
  background: rgba(0, 0, 0, 0.16);
}

.main-table td{
  text-align: center;
  max-width: 82px;
  padding: 0.3em;
  border-right: 1.6px solid gray;
  /* Чтобы выровнять высоту всех строк: */  height: 27px;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px snow;
}

table a{
  text-decoration: none;
}

.for-href{
  width: 100%;
  height: 100%;
  /* vertical-align: middle; */
}

.for-href > span{
  position: relative;
  top: 23%;
}

table.main-table tr td:last-child{
  border-right: none;
}

.main-table td.number{
  font-style: italic;  
}

/* Иконки: */
td.main-table_victory img{
  height: 16px;
  position: relative;
  top: 1px;
}

/* Логотипы: */
img.football-logo-table{
  height: 14px;
  position: relative;
  top: 1px;
}
/* Для эмблем, вытянутых в высоту (Реал, Тоттенхэм, Порто, Милан): */
img.real{
  height: 16px;
}
/* Лого Гамбурга вытянуто в ширину, посему его настаиваем специально: */
img.hamburg{
  width: 16px;
  height: auto;
  position: relative;
  top: 2px;
}
/* Ноттингемскому лого нужна подложка.
Иначе бледно-красное на сером не смотрится: */
img.nottingham{
  border: 0.1em solid rgb(230, 230, 230); 
  background-color: rgb(230, 230, 230);
  border-radius: 0.3em;
}

.main-table div.club-name{
  margin: 0.25em;
  /* Чтобы Астон Вилла (и прочие) не переносилась: */ 
  white-space: nowrap; 
  font-size: 0.8em;
}

span.club-mame_minsize{
  font-size: 0.8em;
}

/* Для слишком длинных названий клубов (типа "Вулверхэмптон"),
к-рые в связи со своей длиной не встают в центр ячейки: */
.main-table span.long-club-title{
  font-size: 0.8em;
}

/* Для колонки финалов ("Ф"): */
tr.main-table__header td.playoff_final{
  font-size: 1.2em;
  padding: 0.3em;
}

tr.main-table__header td.playoff_semi,
tr.main-table__header td.playoff_quarter{
    font-size: 0.7em;  
    padding: 0.1em;
}

span.main-table_victory{
  font-size: 1.2em;
  color: #660000;
}

td.main-table_victory{
    width: 26px;
}

.main-table tr.russia, p.explanation_russia{
  background-color: rgba(255, 0, 0, 0.2);
}

.main-table tr.ukraine, p.explanation_ukraine{
  background-color: rgba(0, 0, 255, 0.2);
}

td.criterion_current-participant{
  padding: 0;
}

td.criterion_current-participant, p.explanation_current{
  background: rgba(255, 255, 0, 0.4);
}

.table-explanation{
  margin-top: 12px;
}

p.table-explanation__explanation{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  width: 1700px;
  text-shadow: 1px 1px 1px snow;
  box-shadow: 1px 1px 1px rgb(70, 67, 67);
}
