
/* ТАБЛИЦА: */

table.main-table{
  border-collapse: collapse;
  font-weight: bold;
  font-size: 0.45em;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  /* Width нужна, чтобы в Firefox кое-как стабилизировать
  ширину таблицы в дульном-недэульном видах:  */
  width: 1525px;
  box-shadow: 2px 2px 1px rgb(22, 19, 19);
}

.main-table tr:nth-child(odd){
  background-color:rgba(0, 0, 0, 0.1);
}
.main-table tr:nth-child(even){
  background-color: aliceblue;
}

.main-table tr:nth-child(odd) td.main-table_gap{
  background: rgba(255, 255, 255, 0.3);
}
.main-table tr:nth-child(even) td.main-table_gap{
  background: rgba(0, 0, 0, 0.16);
}

.main-table td{
  text-align: center;
  max-width: 82px;
  padding: 0.6em;
  border-right: 1.6px solid gray;
}

div.change-range-text{
  cursor: pointer;
}

.main-table td.statistics{
  box-sizing: content-box;  
  max-width: 45px;  
}

#RMaJuv, #JuvRMa{
  width: 52px;
  padding: 0;
}

#RMaBav, #BavRMa{
  width: 58px;
  padding: 0;
}

table.main-table tr td:last-child{
  border-right: none;
}

.main-table tr.logotypes td{
  position: relative;
}

tr.logotypes span.number{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-style: italic; 
}

.main-table td.number{
  font-style: italic;  
}

/* Логотипы: */
img.football-logo-table{
  height: 20px;
  margin: 0.05em;
}
/* Для эмблем, вытянутых в высоту (Реал, Тоттенхэм, Порто, Милан): */
img.real{
  height: 23px;
}
/* Лого Гамбурга вытянуто в ширину, посему его настаиваем специально: */
img.hamburg{
  width: 24px;
  height: auto;
  position: relative;
  top: 0.2em;
}
/* Ноттингемскому лого нужна подложка.
Иначе бледно-красное на сером не смотрится: */
img.nottingham{
  border: 0.1em solid rgb(230, 230, 230); 
  background-color: rgb(230, 230, 230);
  border-radius: 0.3em;
}

.main-table div.club-name{
  margin: 0.25em;
  white-space: normal;
  font-size: 1.3em;
  /* Width здесь (так же, как и в table вообще)
  нужна, чтобы в Firefox кое-как стабилизировать
  ширину таблицы в дульном-недэульном видах
  (от этого, правда, несколько страдает
  колонка с сезонами в России в Chrome):  */  
  width: 68px;
}

/* Для слишком длинных названий клубов (типа "Вулверхэмптон"),
к-рые в связи со своей длиной не встают в центр ячейки: */
.main-table span.long-club-title{
  font-size: 0.8em;
}

.main-table div.results p{
  font-size: 9px;
  margin: 0.25em auto;
}

.main-table td.has-history{
  cursor: pointer;
}

.main-table td p.goals-difference{
  font-weight: normal;
  font-style: italic;
}

.main-table td div.duels{
  font-size: 2.1em;
  margin: 0.35em 0.24em;
}

tr.logotypes td.main-table_criterion{
  font-size: 1.4em;  
}

td.main-table_criterion{
  font-size: 2em;
}

span.criterion_primary{
  font-size: 1.2em;
}
